.navbar_wrapper {
  width: 100%;
  height: 52px;
  background-color: rgba(5, 5, 5, 0.857);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
}

.nav_logo_wrapper {
  flex: 1;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}

.nav_logo {
  width: 36px;
  height: 36px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../assets/eg-shield-logo-white-f8185c103d8d.svg");
}

.logo_fortnite {
  width: 120px;
  height: 100%;
  background-image: url("../../assets/fn-nav-logo-3e6bd67b98b0.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 16px;
}

.nav_items {
  display: flex;
  flex: 1;
}

.nav_lists {
  width: 50vw;
  height: 52px;
  color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list_text {
  height: 100%;
  display: flex;
  padding: 0px 8px;
  font-size: 11px;
  transition: 0.3s;
  margin: 0px 5px;
  list-style: none;
  align-items: center;
  letter-spacing: 0.4px;
  position: relative;
}

.nav_list_text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #f7f756;
  transition: 250ms ease-in;
  opacity: 0;
  bottom: 0;
  left: 0;
}

.nav_list_text:hover::after {
  opacity: 1;
  transition: 250ms ease-in;
}

.nav_list_text1 {
  font-size: 11px;
  padding: 10px 5px;
  letter-spacing: 0.8px;
  position: relative;
  list-style: none;
}

.down_list {
  width: 10vw;
  height: 160px;
  position: absolute;
  background-color: #2A2A2A;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 8px 15px;
  margin: 20% -20px;
  color: #f7f7f7;
  transform: scaleY(0);
  transform-origin: top;
  z-index: 100;
}

.nav_list_text1:hover .down_list {
  transform: scaleY(1);
  cursor: pointer;
}
.down_list_items {
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  z-index: 110;
}

.down_list_items > li {
  color: #ccc;
  cursor: pointer;
}

.down_list_items > li:hover {
  color: #fff;
}

.search_icon {
  width: 300px;
  height: 52px;
  color: #ccc;
  padding: 8px 5px;
  font-size: 22px;
  display: flex;
  align-items: center;
  position: relative;
}

.search_icon input {
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  outline: none;
  color: #ddd;
  background-color: #181818;
  border-radius: 8px;
  text-indent: 10px;
  transform: scaleX(0);
  transition: 250ms;
  transform-origin: right;
  margin: 0px 10px;
}

.showSearch input {
  transform: scaleX(1);
  transition: 350ms;
}

.search_result {
  width: 280px;
  height: 100%;
  min-height: 200px;
  position: absolute;
  top: 100%;
  left: 5%;
  overflow: auto;
  padding: 0px 15px;
  background-color: rgba(5, 5, 5, 0.628);
  backdrop-filter: blur(10px);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.search_result a span {
  font-size: 16px;
}

.search_result::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.search_result::-webkit-scrollbar-thumb {
  width: 100px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.257);
  backdrop-filter: blur(10px);
}

.icon_container {
  width: 11vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.world_icon {
  width: 4vw;
  height: 52px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  color: #ccc;
  justify-content: center;
  font-size: 22px;
  position: relative;
}

.language_collection {
  
  width: 12vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: rgba(5, 5, 5, 0.628);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 100%;
  left: -100%;
  list-style-type: none;
  font-size: 0.8rem;
  opacity: 0;
  color: #a09e9e;
  padding: 5px 0px;
  transition: 150ms all;
  z-index: -99;
}

.world_icon:hover .language_collection {
  opacity: 1;
  transition: 150ms all;
  z-index: 1;
}


.language_collection li:hover {
  color: #dddada;
}

.login {
  width: 7vw;
  height: 52px;
  color: #ccc;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  font-size: clamp(0.5rem, 1rem, 1.25rem);
}

.login > p {
  font-size: 11px;
  letter-spacing: 0.8px;
}

.download_btn {
  width: 10vw;
  height: 52px;
  background-color: #f7f756;
  border: none;
  font-size: 12px;
  font-weight: 700;
}

.search_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 5px;
}

@media screen and (max-width: 1350px){
  .nav_list_text {
    font-size: 9px;
  }
  .login > p {
    font-size: 9px;
    letter-spacing: 0.8px;
  }

  .download_btn {
    font-size: 9px;
  }
}

@media screen and (max-width: 1200px){
  .navbar_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_items {
    display: none;
  }

  .icon_container {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .login {
    width: 10vw;
  }
}
@media screen and (max-width: 1024px){
 
}
@media screen and (max-width: 976px){
  
}
@media screen and (max-width: 767px){
  
}
@media screen and (max-width: 501px){
  
}
@media screen and (max-width: 460px){
  
}
@media screen and (max-width: 400px){
  
}
@media screen and (max-width: 370px){
  
} 
@media (min-width: 300px) and (max-width: 330px){
  
}